:root{
    --bg-colour: #f5f7fa;
    --text-colour: black;
    --svg-color: invert(0%) sepia(99%) saturate(7490%) hue-rotate(69deg) brightness(97%) contrast(97%);
    --svg-bg-colour: #e5edff;
}

[theme="dark"]{
    --bg-colour: #0f111a;
    --text-colour:#ffffff;
    --svg-color: invert(100%) sepia(8%) saturate(0%) hue-rotate(165deg) brightness(108%) contrast(107%);
    --svg-bg-colour: #1d2332;
}

.mainCategories{
    background-color: var(--bg-colour);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.categories-ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    width: 65%;
}
.category-li {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
   
}
.category-li-container:hover  {
    background-color: #3874ff;
    color: white;
}
.category-active{
    background-color: #3874ff!important;
    color: white!important;
}

.category-li-container:hover  img{
   filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}
.category-active img{
    filter: brightness(0) invert(1);
     -webkit-filter: brightness(0) invert(1);
 }
.category-li-container{
    background-color: var(--svg-bg-colour);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
.svg{
    width: 30px;
    height: 30px;
    filter: var(--svg-color);
}

@media (max-width: 1050px){
    .category-li:last-child{
        display: none;
    }
    .categories-ul{
        width: unset;
    }
}
@media (max-width: 700px){
    .category-li:nth-last-child(2){
        display: none;
    }
    
}
@media (max-width: 640px){
    .category-li:nth-last-child(3){
        display: none;
    }
}
@media (max-width: 550px){
    .category-li:nth-last-child(4){
        display: none;
    }
}
@media (max-width: 510px){
    .category-li:nth-last-child(5){
        display: none;
    }
}
@media (max-width: 440px){
    .category-li:nth-last-child(6){
        display: none;
    }
}
