:root {
  --topbar-input-color:black ;
  --circle-button-color:#141824;
  --topbar-input-color:#31374a;
  --topbar-input-bg:#f7f7f8;
  --topbar-input-border:#cbd0dd;
  --topbar-logo-text:#6e7891;
  --topbar-search-bg:#ffffff;
  --topbar-search-text:#141824;
  --topbar-search-hover:rgb(215, 215, 215);

}
[theme="dark"] {
  --topbar-input-color:white;
  --circle-button-color:#9fa6bc;
  --topbar-input-color:#9fa6bc;
  --topbar-input-bg:#141824;
  --topbar-input-border:#373e53;
  --topbar-logo-text:#eff2f6;
  --topbar-search-bg:#373e53;
  --topbar-search-text:#eff2f6;
  --topbar-search-hover:#1c1e29;
}


.topbar{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
width: 60%;
flex: 1 4 1
}
.logo-container {
display: flex;

}
.topbar span {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--topbar-logo-text);
    vertical-align: middle;
    padding-left: 5px;
}
.logo{
    max-width:30px;
    height:30px;
}
.topbar .search {
    display: flex;
    flex-basis: 55%;

}
.circleBtn{
    background-color: unset;
    border:unset;
    color:var(--circle-button-color);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    display: inline;
    font-size: 1rem;
    padding: 5px
}
.circle{
    padding: 5px;
}
.circleBtn .bgOrange {
    background-color:rgb(255, 226, 173) ;
    border-radius: 30px;
    color:rgb(255, 149, 0);
    padding: 5px;
    transition: all 0.25s;
}
.circleBtn .bgOrange:hover {
    background-color:orange ;
    border-radius: 30px;
    color:white;
    padding: 5px
}
.search .wrapper {
    position:relative;
    width: 100%;
  }
  @media (max-width: 992px) {
    .search .wrapper {
      position:relative;
      width: 100%;
      display: none;
    }
    .right-nav {
      width: 100%;
    }
}
@media (max-width: 768px) {
  .search .wrapper {
    display: none;
  }
  .right-nav {
    width: 100%;
  }
  .topbar{
    flex-direction: column;
  }
}
  .search .icon {
    height: .7rem;
    width: .7rem;
    color: darkgray;
    padding: 10px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
  /* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
  .search .input {
    height: 30px;
    box-sizing:border-box;
    padding-left: 2rem;
    color: var(--topbar-input-color);
    background-color:var(--topbar-input-bg);
    border-radius: 20px;  
    border: 1px solid var(--topbar-input-border);
    width: 100%;
    transition: all 0.2s linear;
  }
  
  .input:focus {
    outline: unset;
    border: 1px solid #0a45db;
  }
 .searchResult{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    align-items: flex-start;
    background-color: var(--topbar-search-bg);
    position: absolute;
    padding: 20px;
    top:45px;
    width: 30%;
    border-radius: 5px;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
 }
 .product-search-result{
    text-align: start;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
    width: 100%;
    background-color: var(--topbar-search-bg);
    padding: 5px;
    transition: all 0.25s ease-out;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .product-search-result span{
    font-size: 1rem;
    color:var(--topbar-search-text);
    padding-left: 5px;
 }
  .product-search-result:hover{
   background-color: var(--topbar-search-hover);
 }
 .wishListDiv{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: flex-start;
  background-color: var(--topbar-search-bg);
  position: absolute;
  padding: 10px;
  top:45px;
  width: 15%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
 }
 .wishlist-item {
  text-align: start;
  border-bottom: 1px solid rgba(20, 20, 20, 0.1);
  width:95%;
  background-color: var(--topbar-search-bg);
  padding: 5px;
  transition: all 0.25s ease-out;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .wishlist-item span{
  font-size: 1rem;
  color:var(--topbar-search-text);
  padding-left: 5px;
}
.wishlist-item:hover{
 background-color: var(--topbar-search-hover);
}
.wishlist-remove {
  padding-left: 5px;color: gray;
  justify-self: baseline;
  transition: all 0.25s ease-out;

}
.wishlist-remove:hover {
  padding-left: 5px;color: rgb(70, 70, 70);
  justify-self: baseline;
}