.debugger {
  width: 25%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  border: 0.5px dashed black;
  background-color: rgb(224, 224, 224);
  position: fixed;
  z-index: 100;
  margin: 0 10px;
  padding: 0 auto;
  transition: all ease-in-out 1s;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.debugger.hidden {
  background-color: rgb(131, 131, 131);
  transform: translateX(-95%);
}

@media screen and (max-width: 992px) {
  .debugger {
    display: none;
  }
}
.debugmsg {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.infotype {
  padding: 4px;
  background-color: rgb(57, 57, 57);
  color: white;
  border-radius: 3px;
  width: 50%;
}
.infotype.route {
  background-color: rgb(244, 248, 247);
  color: rgb(32, 92, 232);
}
.value.route {
  background-color: rgb(236, 247, 255);
  color: rgb(3, 43, 137);
}

.infotype.info {
  padding: 4px;
  background-color: rgb(16, 141, 126);
  color: white;
  border-radius: 3px;
}
.value.info {
  background-color: rgb(114, 199, 189);
}

.value {
  padding: 4px;
  width: 50%;
  border: 1px dotted white;
  background-color: rgb(86, 86, 86);
  color: white;
}
