.bi-item {
    min-width: 500px;
    padding: 40px 40px 40px 70px;
}

.bi-item > img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    pointer-events: none;
}

.bi-innerCarousel {
    display: flex;
}

.bi-carousel {
    width: 500px;
    overflow: hidden;
}

@media (max-width: 700px) {
    .bi-item{
        min-width:90%;
        padding:0;
    }

    .bi-carousel{
        width:90%;
    }
}


