.bi-item {
    width: 500px;
    padding: 40px;
}

.bi-item > img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.bi-innerCarousel {
    display: flex;
}

.bi-carousel {
    width: 500px;
    overflow: hidden;
}



@media (max-width: 1200px) {
    .bi-item {
        width: 990px;
        padding: 20px;
      }
      .bi-carousel {
          width:400px;
      }
  }
  
  @media (max-width: 990px) {
    .bi-item {
        width: 768px;
        padding: 20px;
      }
      .bi-carousel {
          width:400px;
      }
  }
  
  @media (max-width: 768px) {
    .bi-item {
        width: 576px;
        padding: 20px;
      }
      .bi-carousel {
          width:300px;
      }
  }
  
  @media (max-width: 575px) {
    .bi-item {
        width:450px;
        padding: 20px;
      }
      .bi-carousel {
          width:380px;
      }
  }
  
  @media (max-width: 450px) {
    .bi-item {
      width: 350px;
      padding: 20px;
    }
    .bi-carousel {
        width:240px;
    }
  }