#CommentContainer {
    width: 1300px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 0 auto 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CommentRow {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    padding: 18px;
    margin-bottom: 10px;
    background: rgba(255, 165, 0, 0.53);
    border-radius: 20px;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
    text-align: start;
}

p {
    font-size: 1rem;
    margin: 0;
    color: #666;
    line-height: 1.4;
    text-align: start;

}

@media (max-width: 1400px) {
    #CommentContainer {
        width: 95%;
    }
}