:root {
    --product-detail-bg: white;
    --best-seller-bg: green;
    --best-seller-color: white;


}

[theme="dark"] {
    --product-detail-bg: black;
    --best-seller-bg: lightgreen;
    --best-seller-color: black;

}


.product-detail-main-container {
    display: grid;
    gap: 20px;
    width: 1100px;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto 40px;
}

.product-detail-breadcrumb {
    grid-column: span 2;
    text-align: left;
}


  .product-detail-image-container {
    margin: 0 auto;
    display: flex;
    align-items: start;
    gap: 20px;
}
  .product-detail-featured-image {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;

}

.product-detail-small-images {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 200px;
    width: 200px;
  }

.product-detail-small-images > img {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
}

.product-detail-small-images > :nth-child(1) {
    border: 1px solid blue;
}

.product-detail-features-container {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.best-seller {
    background-color: var(--best-seller-bg);
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    color: var(--best-seller-color);
}

.faStar {
    color: orange !important;
  }

  
@media (max-width: 1200px) {
  .product-detail-main-container {
    width: 768px;
    grid-template-columns: 1fr 1fr;
  }
  .product-detail-breadcrumb {
    grid-column: span 2;
  }
  .product-detail-image-container {
    width: 400px;
    flex-direction: column;
  }
  .product-detail-small-images {
    flex-direction: row;
    height: 200px;
    width: 200px;
  }
  .product-detail-featured-image {
    width: 400px;
  }

}

@media (max-width: 990px) {
  .product-detail-main-container {
    width: 768px;
    grid-template-columns: 1fr 1fr;
  }
  .product-detail-breadcrumb {
    grid-column: span 2;
  }
  .product-detail-image-container {
    flex-direction: column;
  }
  .product-detail-small-images {
    flex-direction: row;
    height: 200px;
    width: 200px;
  }
  .product-detail-featured-image {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .product-detail-main-container {
    width: 575px;
    grid-template-columns: 1fr;
  }
  .product-detail-breadcrumb {
    grid-column: span 1;
  }
  .product-detail-image-container {
    flex-direction: column;
    width: 500px;
  }
  .product-detail-small-images {
    flex-direction: row;
    height: 200px;
    width: 200px;
  }
  .product-detail-featured-image {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .product-detail-main-container {
    width: 450px;
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .product-detail-breadcrumb {
    grid-column: span 1;
  }
  .product-detail-image-container {
    width: 400px;
    flex-direction: column;
  }
  .product-detail-small-images {
    flex-direction: row;
    height: 200px;
    width: 200px;
  }
  .product-detail-featured-image {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .product-detail-main-container {
    width: 350px;
    grid-template-columns: 1fr;
  }
  .product-detail-breadcrumb {
    grid-column: span 1;
  }
  .product-detail-image-container {
    width: 300px;
    flex-direction: column;
  }
  .product-detail-small-images {
    flex-direction: row;
    height: 200px;
    width: 200px;
  }
  .product-detail-featured-image {
    width: 300px;
  }
}

@media (max-width: 340px) {
  .product-detail-featured-image {
    width: 280px;
  }
}