
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px; /* Espacio entre las columnas si hay más de una */
  }
  
  .column:last-child {
    margin-right: 0; /* Eliminar el margen derecho de la última columna para evitar espacios innecesarios */
  }
  
  .column h3 {
    margin: 0;
  }
  
  .custom-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .custom-list li {
    cursor: pointer;
    text-decoration: none;
    position: relative;
  }
  
  .custom-list li:hover {
    text-decoration: underline;
  }
  