:root {
  --color-footer-container: #f5f7fa;
  --color-footer-text: black;
  --picture-url: url("https://prium.github.io/phoenix/v1.13.0/assets/img/spot-illustrations/light_30.png"
    )
}

[theme="dark"] {
  --color-footer-container: black;
  --color-footer-text: white;
  --picture-url: url("https://prium.github.io/phoenix/v1.13.0/assets/img/spot-illustrations/dark_30.png")
}

.imageContainer {
  width: 305px;
  height: 250px;
  background-image: var(--picture-url);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  color: var(--color-footer-text);
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Nunito Sans";
}

.first-paragraph {
  margin-bottom: 0;
  font-size: 25px;
}

.second-paragraph {
  font-size: 48.82px;
  margin: 0%;
}

.negrita {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .first-paragraph {
    font-size: 20px;
  }

  .second-paragraph {
    font-size: 36.82px;
  }
}

@media screen and (max-width: 480px) {
  .first-paragraph {
    font-size: 18px;
  }

  .second-paragraph {
    font-size: 28.82px;
  }

  .texto {
    align-items: center;
  }
}