:root {
  --color-footer-container1: #f5f7fa;
  --color-footer-text: black;

}

[theme="dark"] {
  --color-footer-container1:#0f111a;
  --color-footer-text: white;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito Sans";
  background-color: var(--color-footer-container1);
  padding: 20px 40px;
  color: var(--color-footer-text);

}

.fecha {
  display: flex;
  align-items: center;
}

.version {
  margin-left: auto;
}