.contenedor {
    display: flex;
    justify-content: space-between;
    font-family: "Nunito Sans";
    background-color: #f5f7fa ;
    padding: 20px 40px;
  }
  
  .fecha {
    display: flex;
    align-items: center;
  }
  
  .version {
    margin-left: auto;
  }
  